.search-section {
    background-image: url('https://www.venuelook.com/images/new-home-images/optimized/city/home-background.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }
  
  .search-container {
    padding: 2rem;
    max-width: 800px;
    width: 100%;
 
  }

  .section{
    background-color: rgba(0, 0, 0, 0.6); 
  padding: 2rem;
  border-radius: 10px;
  }
  
  .search-container h2 {
    margin-bottom: 1rem;
    color: white;
    font-family: 'Arial', sans-serif; 
  }
  
  .search-container p {
    margin-bottom: 2rem;
  }
  
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-toggle {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0.5rem 1rem;
    width: 200px; 
  }
  
  .dropdown-menu {
    width: 200px; 
  }
  
  .input-container {
    margin-left: 1rem; 
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0;
    background-color: transparent;
    color: white;
    width: 200px; 
    text-align: center;
  }
  
  input[type="text"]::placeholder {
    color: white;
  }
  