
  .search-container {
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    
 
  }
  .rowbg{
    

   justify-content: center;
   display: flex;
  }
#btnclass{
justify-content: center;
display: flex;

}

  .section{
    background-color: rgba(224, 207, 207, 0.656); 
  padding: 2rem;
  border-radius: 10px;
  width: 700px;
 
  }
  
  .search-container h2 {
    margin-bottom: 1rem;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex; 
    
  }
  
  .search-container p {
    margin-bottom: 2rem;
    
  }
  
  
  
  
  .dropdown-menu {
    width: 200px; 
  }
  
  .input-container {
    margin-left: 1rem; 
    
  }
#location{
 
 height: 50px;

}


#search{
 margin-top: 40px;
margin-left:200px;

}


  /*input form*/
  
  
  /*input[type="text"] {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0;
    background-color:pink;
    color: white;
    width: 200px; 
    text-align: center;
   
  }
  
  input[type="text"]::placeholder {
    color: white;
  }

  */